{% extends "base.html" %} {% block title %} Home Page {% endblock %} 
{% block content %}


<main class="container-fluid d-flex justify-content-center align-items-center" style="height: 100vh; padding: 15px;">
    <!-- Single Centered Box -->
    <div class="border rounded p-5 shadow" style="max-width: 1500px; width: 100%; background-color: white;">
        <h1 class="mb-4" style="text-align:center;">Create Your Account</h1>

        <form method="post" action="{% url 'home' %}" enctype="multipart/form-data">
            {% csrf_token %}

                <form method="post" action="{% url 'home' %}">
                    {% csrf_token %}
                    
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username"><br><br>

                    <label for="email">Email:</label>
                    <input type="text" id="email" name="email"><br><br>

                    <label for="password">Password:</label>
                    <input type="text" id="password" name="password"><br><br>

                    <h1 style="text-align:left;">How to insert schedule PDF</h1>
                    <p>
                        1. Log into Omnivox <br>
                        2. Open <em>My Omnivox Services</em> section<br>
                        3. Click on <em>Obtain my Schedule</em> for the current semester<br>
                        4. Click on <em>Click here for printer-friendly version</em><br>
                        5. Click on <em>Compact printable semester schedule</em><br>
                        6. Click on view<br>
                        7. Save the PDF to your device<br>
                        8. Drag and drop the PDF into the upload section<br>
                    </p>
                        
                    <h2>Upload schedule PDF</h2>
                    <input type="file" name="pdfFile" id="pdfFile" accept=".pdf"><br><br>


                    <input type="submit" value="Create Account">
                </form>

{% endblock %}