{% extends "base.html" %} {% block title %} Home Page {% endblock %} 
{% load static %}
{% block content %}

<main class="container-fluid d-flex justify-content-center align-items-center bg-image">
    <!-- Single Centered Box -->
    <div class="border rounded p-5 shadow" style="width: 600px; background-color: white;">
        <h1 class="mb-4" style="text-align:center;">Create Your Account</h1>

        <form method="post" action="{% url 'home' %}" enctype="multipart/form-data">
            {% csrf_token %}

                <form method="post" action="{% url 'home' %}">
                    {% csrf_token %}
                    
                    <input type="username" placeholder="Username" name="username" class="form-control mb-3" style="margin-top: 50px" required>

                    <input type="email" placeholder="Email" name="email" class="form-control mb-3" required>
                    
                    <input type="password" placeholder="Password" name="password" class="form-control mb-3" required>
                    
                    <h3 style="text-align:left;">How to insert schedule PDF</h1>
                    <p>
                        1. Log into Omnivox <br>
                        2. Open <em>My Omnivox Services</em> section<br>
                        3. Click on <em>Obtain my Schedule</em> for the current semester<br>
                        4. Click on <em>Click here for printer-friendly version</em><br>
                        5. Click on <em>Compact printable semester schedule</em><br>
                        6. Click on view<br>
                        7. Save the PDF to your device<br>
                        8. Drag and drop the PDF into the upload section<br>
                    </p>
                    
                    <h3>Upload schedule PDF</h3>
                    <input type="file" name="pdfFile" id="pdfFile" accept=".pdf" class="choosefilebutton" required>


                    <input type="submit" id="register" value="Create Account" style="margin-top: 30px;" class="loginbutton">
                </form>

{% endblock %}