
{% extends "base.html" %} {% block title %} Home Page {% endblock %} 
{% load static %}
{% block content %}


<main class="container-fluid d-flex justify-content-center align-items-center bg-image">
    <!-- Single Centered Box -->
    <div class="border rounded p-5 shadow" style="width: 600px; background-color: white;">
        <div style="text-align: center; margin-bottom: 20px;">
            <img src="{% static 'logooo.png' %}" alt="Schedule Matcher" style="height: auto; width: 300px;">
        </div>
        

        <form method="post" action="{% url 'home' %}">
            
            {% csrf_token %}
            <div class="d-flex flex-column align-items-center">
                <div style="width: 300px;">    
                   
                    <input type="email" placeholder="Email" name="email" class="form-control mb-3">
                    
                    <input type="password" placeholder="Password" name="password" class="form-control mb-3">
                    
                    <button type="submit" class="loginbutton">Login</button>
                </div>
        </form>

        <a href="{% url 'createaccount' %}" style="color: #007ea7; margin-top: 15px">
            <p>Don't have an account yet? Create one!</p>
        </a>



{% endblock %}