
{% extends "base.html" %} {% block title %} Home Page {% endblock %} 
{% load static %}
{% block content %}


<main class="container-fluid d-flex justify-content-center align-items-center bg-image">
    <!-- Single Centered Box -->
    <div class="border rounded p-5 shadow" style="width: 600px; background-color: white;">
        <h1 class="mb-4" style="text-align:center;">Create Your Account</h1>

        <h1 style="text-align:center;">Welcome to Schedule Matcher</h1>

        <form method="post" action="{% url 'home' %}">
            
            {% csrf_token %}
            <div class="d-flex flex-column align-items-center">
                <div style="width: 300px;">    
                   
                    <input type="email" placeholder="Email" name="email" class="form-control mb-3">
                    
                    <input type="password" placeholder="Password" name="password" class="form-control mb-3">
                    
                    <button type="submit" class="loginbutton">Login</button>
                </div>
        </form>

        <a href="{% url 'createaccount' %}">
            <p>Don't have an account yet? Create one!</p>
        </a>



{% endblock %}